@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	width: 100%;
	height: 100vh;
	color: #000000;
	background-color: rgb(22, 22, 22);
	padding-top: 2rem;
	overflow: hidden;
}

/* ! THIS IS FOR THE NAVIGATION BAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	height: 50px;
	padding: 0 3rem;
}

.logo_header {
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	animation: floatInLeft 0.8s ease-out forwards;
}

.navbar nav ul {
	display: flex;
	list-style-type: none;
	gap: 3em;
	animation: floatInRight 0.8s ease forwards;
}

.navbar nav li a {
	position: relative;
	display: block;
	color: #fff;
	font-size: 1.25rem;
	letter-spacing: 1px;
	padding: 15px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar nav ul a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	bottom: 6px;
	background-color: #ffffff;
	transition: width 0.3s ease;
}

.navbar nav ul a:hover::after {
	width: 100%;
}

/* ! THIS IS FOR THE NAVBAR ANIMATIONS */
@keyframes floatInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes floatInRight {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* ! THIS IS FOR THE LEFT-SIDE CONTAINER */
.container_1 {
	display: flex;
	justify-content: space-between;
	height: 85vh;
}

.left-side,
.right-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	opacity: 0;
	transform: translateY(20px);
	animation: floatUp 0.8s ease-out forwards;
}

.intro,
.uni {
	font-size: 2rem;
	font-weight: 500;
	color: #ffffff;
}

.intro h1,
.uni h1 {
	font-size: 2.5rem;
	margin: 10px 0;
}

.intro h2,
.uni h2 {
	font-size: 1.25rem;
	color: rgb(192, 187, 187);
	font-weight: bold;
}

.icons-socials {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	padding: 1rem;
}

.icons svg {
	background-color: #000000;
	color: #ffffff;
	padding: 6px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.icons svg:hover {
	background-color: #ffffff;
	color: #000000;
	transform: scale(1.2) rotate(-3deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icons-skills svg {
	background-color: #000000;
	color: #ffffff;
	padding: 6px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.icons-skills svg:hover {
	transform: scale(1.2) rotate(-3deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* ! THIS IS ANIMATION FOR BOTH CONTAINERS */
@keyframes floatInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes floatInRight {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes floatUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes blink {
	0%,
	100% {
		border-color: transparent;
	}

	50% {
		border-color: white;
	}
}
